<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MockGroupJ">
  <test thread-count="5" name="TanvirShinde">
    <classes>
      <class name="annotations.BeforeAfterTestAnnotations"/>
       <class name="annotations.BeforeAfterClassAnnotations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
